body {
  font-family: "Poppins", sans-serif;
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
h1 {
  font-size: 50px;
}
.orage-class {
  color: orange;
}
.flexible-class{
  display: flex;
  margin-top:0;
  margin-bottom: 200px;
}
.button-class{
  text-decoration: none;
  background-image: linear-gradient(green,rgb(2, 236, 2));
  color: whitesmoke;
  padding: 10px 40px;
  border-radius: 5px;
  font-weight: 700;
  
}
.flexible-div{
  width: 50%;
  margin-left: 50px;
  padding: 5px;
  padding-right: 10px;
  text-align: justify;
}
.img-div{
  width: 50%;
  height: 50%;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 5px;
}
.paragraph-flexible{
  padding-right: 10px;
}
h2{
  font-size: 45px;
}
.dream-big-div{
  text-align: justify;
  padding-left: 50px;
  padding-right: 50px;

}
.developer-img-div{
  width: 50%;
}
.full-stack-class{
  border: 0px solid #4d4b4b;
  box-shadow:5px 5px 40px rgb(170, 166, 166);
  padding: 10px 20px;
  text-align: justify;
  
}
#full-stack{
  width: 50%;
  height: 380px;
  margin-left: 50px;
  border-left: 6px solid;
  border-image: linear-gradient(rgb(255, 102, 0),rgb(226, 147, 122));
  border-image-slice: 5;


}
#baby{
  width: 45%;
  height: 380px;
  margin-right: 50px;
  margin-left:70px;
  border-left: 6px solid;
  border-image: linear-gradient(green,#50eb50);
  border-image-slice: 1;
}
.experience-class{
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
  padding: 0;
  margin: -8px;

}
#footer{
  text-align: center;
}